<section class='about-us'>
  <div class='about-us-close'></div>
  <ul class='about-us-content'>
    {{#each this}}
      <li class='about-us-card'>
        <img class='about-us-photo' src='{{photo}}' alt='{{position}}' />
        <h2 class='about-us-name'>{{name}}</h2>
        <p class='about-us-position'>{{position}}</p>
      </li>
    {{/each}}
  </ul>
</section>