$font: "Roboto", sans-serif;


$primary-text-color: 000000;        //black
$secondary-text-color: FFFFFF;      //white
$text-footer-color: 545454;         //dark-grey
$text-card-color:  8C8C8C;          //light-grey
$accent-color: FF6B01;              //orange

$main-background-color: FFFFFF;      //white
$secondary-background-color: F7F7F7; //light-grey

$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1024px;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);


