$font: 'Roboto', sans-serif;

$primary-text-color: #000000; //black
$secondary-text-color: #ffffff; //white
$text-footer-color: #545454; //dark-grey
$text-card-color: #8c8c8c; //light-grey
$accent-color: #ff6b01; //orange

$main-background-color: #ffffff; //white
$secondary-background-color: #f7f7f7; //light-grey
$dark-theme-background-color: #3d3939; //brown

$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1024px;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: 250ms;
