
<header class="header">
<div class="container">
 
<ul class="navigation">
  <li class="logo-film"> <a href="#">
    <svg class="logo-search_film" >
    <use href="./images/symbol-defs.svg#logo-film"></use>
</svg>
</a>
<li class="navigation-h2">
  <h2 class="header-h2">Filmoteka</h2>
</li>
</li>
    <li class="navigation_home"><a class="navigation_home-link current" href="#">HOME</a></li>
    <li class="navigation_library"><a class="navigation_library-link current" href="#">MY LIBRARY</a></li>
</ul>
    <div class="input-div">
      <input class="input" type="text" name="query" autocomplete="off" placeholder="Поиск фильмов" />
    <svg class="logo-search" >
        <use class="logo-search_svg" href="./images/symbol-defs.svg#logo-search"></use>
    </svg>
    </div>
</div>
 

</header>