<section class="section-main">
  <div class="container">
    <div class="toolbar">
      <!-- Разметка переключателя темы -->
      <div class="theme-switch">
        <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
          <use href="./images/theme-switch.svg#sun"></use>
        </svg>
    
        <div class="theme-switch__control">
          <input class="theme-switch__toggle" type="checkbox" name="theme" id="theme-switch-toggle"
            aria-label="Переключить между тёмной и светлой темой" />
          <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle">
          </label>
          <div aria-hidden="true" class="theme-switch__marker"></div>
        </div>
    
        <svg class="theme-switch__icon" aria-label="Иконка луны">
          <use href="./images/theme-switch.svg#moon"></use>
        </svg>
      </div>
    </div>

    <ul class="film-list_gallery"></ul>
  </div>

  <!-- Костыль, тест, переделать на шаблон чуть позже!!!!!! -->

  <div class="pagination">
    <a class="button-prev"> </a>
    <ul class="pagination-list">
      <li class="pagination-item first-item"><a class="button-item">1</a></li>
      <li class="pagination-item two-item"><a class="button-item">2</a></li>
      <li class="pagination-item three-item"><a class="button-item">3</a></li>
      <li class="pagination-item four-item"><a class="button-item">4</a></li>
      <li class="pagination-item five-item"><a class="button-item">5</a></li>
      <li class="pagination-item six-item"><a class="button-item">6</a></li>
      <li class="pagination-item last-item"><a class="button-item">10</a></li>
    </ul>
    <a class="button-next"> </a>
  </div>

  <!-- Костыль, тест, переделать на шаблон чуть позже!!!!!! -->

</section>