  $cards-per-row: 2;
  $card-margin: 3vw;
  $modal-width: 100vw;

.about-us {
  position: absolute;
  height: 100vh;
  width: 320px;
  background-color: $main-background-color;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  &-title {
    box-shadow: 0em 0.4em 5px rgba(122, 122, 122, 0.5);
    padding-bottom: 2px;
    background-color: lightgray;
    display: flex;
    &-team-name {
      margin: 0 auto;
      color: $text-footer-color;
    }
  }

  &-content {
    padding-top: $card-margin;
    padding-left: $card-margin;
    display: flex;
    flex-wrap: wrap;
  }

  &-card {
    width: calc((100% - #{$card-margin} * #{$cards-per-row}) / #{$cards-per-row});
    border-radius: 4px;
    margin: 0 $card-margin $card-margin/2 0;
    box-shadow: 5px 6px 9px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.14),
      0px 4px 3px rgba(0, 0, 0, 0.2);
  }

  &-photo {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
  }
  &-name {
    padding: 5px 3px;
    font-size: 11px;
    text-align: center;
    color: $text-footer-color;
  }
  &-position {
    text-align: center;
    padding-bottom: 8px;
    font-size: 11px;
    color: $accent-color;

  }
  &-close {
    color: $primary-text-color;
    margin: auto 5px auto 0;
    width: 18px;
    line-height: 0;
    box-shadow: 0 0 3px $primary-text-color;
    &:after {
      content: '\2715';
      line-height: 0.8;
      font-size: 18px;
    }
    &:hover,
    &:focus {
      color: $accent-color;
      border-color: $accent-color;
      cursor: pointer;
      text-shadow: 0 0 3px $primary-text-color;
    }
    &:active {
      color: $accent-color;
      cursor: pointer;
    }
  }
}



@media screen and (min-width: $width-tablet) {
  $cards-per-row: 3;
  $card-margin: 2vw;
  .about-us {
    margin: auto;
    width: 650px;
    height: min-content;
    &-content {
      padding-top: $card-margin;
      padding-left: $card-margin;
    }

    &-card {
      width: calc((100% - #{$card-margin} * #{$cards-per-row}) / #{$cards-per-row});
      margin: 0 $card-margin $card-margin 0;
    }
    &-name {
      font-size: 14px;
      padding: 6px 3px;
    }
    &-position {
      font-size: 14px;
      color: $accent-color;
    }
  }
}

@media screen and (min-width: $width-desktop) {
  .about-us {
    width: 700px;
    &-name {
      font-size: 17px;
     }
    &-position {
      font-size: 17px;
      padding-bottom: 8px;
    }
  }
}
