
  $cards-per-row: 2;
  $card-margin: 4vw;
  $modal-width: 100vw;

.about-us {
  height: 100vh;
  width: $modal-width;
  background-color: $main-background-color;
  &-title {
    box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
    padding-bottom: 2px;
    background-color: lightgray;
    display: flex;
    &-team-name {
      margin: 0 auto;
      color: $text-footer-color;
    }
  }

  &-content {
    padding-top: $card-margin;
    padding-left: $card-margin;
    display: flex;
    flex-wrap: wrap;
  }

  &-card {
    width: calc((100% - #{$card-margin} * #{$cards-per-row}) / #{$cards-per-row});
    border-radius: 5px;
    border: 2px solid $text-card-color;
    margin: 0 $card-margin $card-margin/2 0;
    box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
  }

  &-photo {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
  }
  &-name {
    padding-top: 3px;
    font-size: 8px;
    text-align: center;
    color: $text-footer-color;
  }
  &-position {
    text-align: center;
    padding-bottom: 5px;
    font-size: 8px;
    color: $accent-color;

  }
  &-close {
    color: $primary-text-color;
    margin: auto 5px auto 0;
    width: 18px;
    line-height: 0;
    box-shadow: 0 0 3px $primary-text-color;
    &:after {
      content: '\2715';
      line-height: 0.8;
      font-size: 18px;
    }
    &:hover,
    &:focus {
      color: $accent-color;
      border-color: $accent-color;
      cursor: pointer;
      text-shadow: 0 0 3px $primary-text-color;
    }
    &:active {
      color: $accent-color;
      cursor: pointer;
    }
  }
}
@media screen and (min-width: $width-tablet) {
  .about-us {
    overflow-y: hidden;
    padding-top: 0;
    height: min-content;
    &-title {
      position: static;
    }
    &-content {
      display: flex;
      flex-wrap: wrap;
      padding-top: 3%;
      padding-left: 8%;
    }
    &-card {
      width: 150px;
      // height: 150px;
      margin: 20px 20px 20px 40px;
    }
  }
}
@media screen and (min-width: $width-desktop) {
  $cards-per-row: 3;
  $card-margin: 2vw;
  $modal-width: 50vw;

  .about-us {
    margin: auto;
    width: $modal-width;
    height: min-content;
    &-content {
      padding-top: $card-margin;
      padding-left: $card-margin;
    }

    &-card {
      width: calc((100% - #{$card-margin} * #{$cards-per-row}) / #{$cards-per-row});
      margin: 0 $card-margin $card-margin 0;
    }
    &-name {
      font-size: 15px;
    }
    &-position {
      font-size: 12px;
      color: $accent-color;
    }
  }
}
