.btn-up {
  position: fixed;
  bottom: 8px;
  right: 8px;
  padding: 0;
  display: none;
  width: 28px;
  // height: 30px;
  font-weight: bold;
  cursor: pointer;
  color: $secondary-text-color;
  background-color: $accent-color;
  border: $accent-color 2px solid;
  border-radius: 5px;
}

@media screen and (min-width: $width-tablet) {
  .btn-up {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
  }
}
