.film-list_img {
  height: 398px;
  width: 280px;
  border-radius: 5px ;

  &:hover,
  &:focus{
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);;
  }
}

.error-img{
  background-size: contain;

}

.film-list_name {
  text-transform: uppercase;
  @include font(500, 12px, 14px);
  margin-bottom: 6px;
  margin-top: 10px;
}

.film-list_info {
  display: flex;
  color: $accent-color;
  @include font(500, 12px, 14px);
}

.line{
  margin-right: 5px;
  margin-left: 5px;
}

@media screen and (max-width: 767px) {
  .film-list_gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .film-list_img {
    width: 293px;
  }

  .film-list_item:not(:last-child){
  margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .film-list_gallery {
    display: grid;
    grid-template-columns: 293px 293px;
    grid-gap: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .film-list_gallery {
    grid-template-columns: 274px 274px 274px;
  }

  .film-list_info,
  .film-list_name {
    @include font(500, 12px, 16px);
  }
}
