.film-list_img {
  height: 398px;
}

.error-img{
  background-size: contain;

}

.film-list_name {
  text-transform: uppercase;
  @include font(500, 12px, 14px);
  margin-bottom: 6px;
  margin-top: 10px;
}

.film-list_info {
  display: flex;
  color: $accent-color;
  @include font(500, 12px, 14px);
}

.film-vote {
  background-color: $accent-color;
  border-radius: 5px;
  @include font(500, 10px, 12px);
  color: $secondary-text-color;
  padding: 1px 10px;
  margin-left: 10px;
}

.line{
  margin-right: 5px;
  margin-left: 5px;
}

@media screen and (max-width: 767px) {
  .film-list_gallery{
    margin-right: auto;
    margin-left: auto;
  }
  .film-list_item:not(:last-child){
  margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .film-list_gallery {
    display: grid;
    grid-template-columns: 293px 293px;
    grid-gap: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .film-list_gallery {
    grid-template-columns: 274px 274px 274px;
  }

  .film-list_info,
  .film-list_name {
    @include font(500, 12px, 16px);
  }
}
