.header {
  height: 230px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  background-image: url(/images/headerfoto.jpg);
  background-color: $primary-text-color;
}

.header__library {
  height: 230px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(/images/mylibraryfoto.webp);
  background-color: $primary-text-color;
}

input::placeholder {
  @include font(100, 12px, 12px);
  color: $secondary-text-color;
  font-family: $font;
}
.input {
  color: $secondary-text-color;
  background: transparent;
  border: none;
  border-bottom: 1px solid $secondary-text-color;
  width: 280px;
  @media screen and (min-width: 321px) {
    width: 336px;
  }
}
.logo-search {
  position: absolute;
  left: 268px;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  stroke-width: 0;
  stroke: white;
  fill: white;
  @media screen and (min-width: 321px) {
    left: 324px;
  }
}
.accent-library::after {
  position: absolute;
  top: 72px;
  width: 69px;
  height: 3px;
  display: block;
  content: '';
  background: $accent-color;
}
.accent-home::after {
  position: absolute;
  top: 72px;
  width: 35px;
  height: 3px;
  display: block;
  content: '';
  background: $accent-color;
}
a {
  text-decoration: none;
}
.navigation_home-link {
  @include font(500, 12px, 14px);
  color: $primary-text-color;
  font-family: $font;
  width: 35px;
}
.navigation_library-link {
  @include font(500, 12px, 14px);
  color: $primary-text-color;
  font-family: $font;
  width: 100px;
}
.current {
  color: $secondary-text-color;
}
.input-div {
  display: block;
  position: relative;
  @media screen and (min-width: 321px) {
    margin: 0 auto;
    width: 336px;
  }
}
.logo-search_film {
  width: 24px;
  height: 24px;
}
.header-h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.116;
  color: $secondary-text-color;
  font-family: $font;
  width: 141px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.navigation {
  display: flex;
  padding-top: 48px;
  margin-bottom: 41px;
  @media screen and (min-width: 321px) {
    align-items: center;
  }
  @media screen and (min-width: 321px) {
    justify-content: space-between;
  }
}
.logo-film {
  width: 24px;
  display: block;
  margin-right: 112px;
  @media screen and (max-width: 767px) {
    margin-right: 112px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }
}
.navigation_home {
  margin-right: 33px;
  width: 35px;
}
.navigation-h2 {
  @media screen and (max-width: 767px) {
    margin-right: 0;
  }
  @media screen and (min-width: 768px) {
    margin-right: 303px;
  }
  @media screen and (min-width: 1024px) {
    margin-right: 564px;
  }
}
.navigation_library {
  display: block;
  width: 69px;
}
.my-library_btns {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.my-library_btn {
  display: block;
  width: 136px;
  height: 44px;
  margin-right: 15px;
  background: transparent;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  border-radius: 5px;
  border-color: $secondary-text-color;
  padding: 14px 38px 12px;
  color: $secondary-text-color;
  font-family: $font;
  @include font(500, 12px, 1.33px);
}
.my-library_btn:not(:last-child) {
  margin-right: 0;
}

.hidden {
  display: none;
}
