.section-main {
  padding-bottom: 40px;
  //padding-top: 20px;
}

// .button-prev.light-theme, 
// .button-next.light-theme{
//   background-color: $main-background-color;
// }

// .button-prev.dark-theme, 
// .button-next.dark-theme{
//   background-color: $dark-theme-background-color;
// }

body.light-theme {
  background-color: $main-background-color;
  color: $primary-text-color;
}

body.dark-theme {
  background-color: $dark-theme-background-color;
  color: $secondary-text-color;
  
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
}

/* THEME SWITCH */
.theme-switch {
  display: flex;
  align-items: center;
}

.theme-switch__icon {
  color: currentColor;
  height: 18px;
  width: 18px;
  margin-right: 8px;
  margin-left: 8px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 44px;
  height: 22px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #333;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: #fff;
  width: 20px;//
  height: 20px;//
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(1px);//
  transition: transform 250ms var(--timing-function);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #d3d3d4;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(23px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 3px $accent-color;
}

@media screen and (min-width: 768px) {
  .section-main {
    padding-bottom: 60px;
  }

  .theme-switch__icon {
  height: 20px;
  width: 20px;
  }

  .theme-switch__control {
  width: 50px;
  height: 22px;
  }

  .theme-switch__marker {
  width: 20px;
  height: 20px;
  }

  .theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(34px);
}
}

@media screen and (min-width: 768px) {
    .theme-switch__icon {
  height: 22px;
  width: 22px;
  }

  .theme-switch__control {
  width: 60px;
  height: 28px;
  }

 .theme-switch__marker {
  width: 24px;
  height: 24px;
  }

  .theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(34px);
}

}


