/* <!-- Модалка --> */

.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: opacity $animation-duration $time-function;
  max-height: 100vh;
overflow-y: scroll;
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
height: 600px;
  // min-height: 958px;
  background-color:$main-background-color;
  padding: 20px 20px 40px 20px;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  background-color: #fff;
  box-sizing: border-box;
  border: none ;
  cursor: pointer;
}

.modal-icon {
  display: inline-block;
  stroke:#000000;
  width: 30px;
  height: 30px;
  transition: stroke $animation-duration $time-function;
  
  &:focus,
  &:hover {
      stroke: $accent-color;
  }
}

.film-img {
  height: 356px;
}

.film-name {
  @include font(500, 20px, 23px);
  text-transform: uppercase;
  margin-bottom: 15px;
}

.film-properties {
  display: flex;
  @include font(500, 12px, 16px);
  margin-bottom: 20px;
    // line-height: 16px; /*перемерять для Vote и Popularity */
}

.film-vote {
  background-color: $accent-color;
  border-radius: 5px;
  color: $secondary-text-color;
  padding: 1px 10px;
   margin-left: 10px;
  display:inline-block;
  line-height: 11px;
  
}

.properties {
  color: $text-card-color;
  margin-right: 41px;
}

.properties li:not(:last-child),
.property-value li:not(:last-child) {
  margin-bottom: 10px;
}

.film-origin-title {
  text-transform: uppercase;
}

.film-about {
  text-transform: uppercase;
  @include font(500, 12px, 16px);
  margin-bottom: 10px;
}

.film-description {
  @include font(500, 12px, 20px);
  margin-bottom: 21px;
}

// a.link {
//     margin-bottom: 15px;
//     margin-top: 15px;
//     text-transform: uppercase;
//     color: inherit;
//     text-align: center;
// }

.film-trailer {
  margin-bottom: 20px;
  margin-top: 15px;
  text-transform: uppercase;
  color: inherit;
  text-align: center;

  &:hover,
  &:focus {
    color:  $accent-color;
  }
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  text-transform: uppercase;
  @include font(500, 12px, 16px);
  width: 112px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 7px;
  padding-right: 7px;
}

.add-watched_button {
  margin-right: 15px;
}

.buttons button:hover,
.buttons button:focus {
  background-color: $accent-color;
  border: 1px solid $accent-color;
}

.press-btn {
  background-color: $text-card-color;
}

@media screen and (max-width: 767px) {
  .film-name {
  margin-top: 30px;
  }

  .film-img {
    margin-bottom: 15px;
  margin-top: 16px;
}
}

@media screen and (min-width: 768px) {
  .modal {
    width: 618px;
    min-height: 562px;
    padding: 42px 30px 40px 28px;
  }

  .film {
    display: flex;
  }

  // .left-side {
  //   margin-right: 32px;
  // }

  .film-img {
    height: 374px;
    margin-right: 32px;
  }

  .buttons button {
    width: 125px;
    
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    width: 882px;
    min-height: 568px;
    padding: 50px 30px 40px 30px;
  }

  .left-side {
    margin-right: 30px;
  }

  .film-img {
    height: 478px;
  }

  .film-name {
    font-family: Roboto;
    @include font(500, 30px, 35px);
  }

  .buttons button {
    width: 136px;
  }
}

.modal.light-theme {
  background-color: $main-background-color;
  color: $primary-text-color;
}

.modal.dark-theme {
  background-color: $dark-theme-background-color;
  color: $secondary-text-color;
}
