.registration-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  min-height: 450px;
  background-color:$main-background-color;
  padding: 20px 20px 40px 20px;
}

.rf-modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  background-color: #fff;
  box-sizing: border-box;
  border: none ;
  cursor: pointer;
}


.rf-form{
   margin-top: 60px;
   margin-bottom: 20px;
}

.rf-title{
    text-align: center;
    @include font(500, 20px, 23px);
    margin-bottom: 25px;
}

.form-field{
    display: flex;
    flex-direction: column;
    color: $accent-color;
     
    &:not(:last-child){
        margin-bottom: 16px;
    }
}

.form-field-input {
  border: none;
  border-bottom: 2px solid $accent-color;
  border-radius: 5px;
  margin-top: 10px;
  background-color:initial ;
}

.rf-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    height: 100px;
    
}

.rf-button{
    border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  text-transform: uppercase;
  @include font(500, 12px, 16px);
  //width: 100px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 7px;
  padding-right: 7px;
}

.registration-modal.light-theme {
  background-color: $main-background-color;
  color: $primary-text-color;
}

.registration-modal.dark-theme {
  background-color: $dark-theme-background-color;
  color: $secondary-text-color;
}